<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">YAMAHA</span>
    </div>
  </nav>
  <table class="table">
    <tr>
      <th>ID</th>
      <td>{{serviceId}}</td>
    </tr>
    <tr>
      <th>Vehicle No</th>
      <td>{{vehicleNo}}</td>

    </tr>
    <tr>
      <th>Owner</th>
      <td>{{owner}}</td>

    </tr>
    <tr>
      <th>Model</th>
      <td>{{model}}</td>
    </tr>
    <tr>
      <th>Appointment Date</th>
      <td>{{date}}</td>
    </tr>
    <tr>
      <th>Contact</th>
      <td>{{contact}}</td>
    </tr>
    <tr>
      <th>Service type</th>
      <td>{{serviceType}}</td>
    </tr>
    <tr>
      <th>Service status</th>
    </tr>
    <tr>
      <div class="statusContainer">
        <select class="status">
          <option>Ready for service</option>
          <option>Service in progress</option>
          <option>Ready for delivery</option>
        </select>
      </div>
    </tr>
  </table>
</body>